@import 'mixins'

.wrapper-header
  +flex(center)
  width: 100%
  height: var(--header-height)
  background-color: var(--white-1)
  .side
    +flex(center)
    width: 40%
    height: 100%
    .item
      +flex(center, center)
      height: 100%
      padding: 0 var(--padding)
      span
        +semibold()
        color: var(--gray-1)
        text-transform: uppercase
      &:hover
        span
          color: var(--blue-1)
          text-decoration: underline
    &.right
      +flex(center, flex-end)
  .middle
    +flex(center, center)
    width: 20%
    height: 100%
    img
      width: 150px