<section class="wrapper-header">
  <div class="left side">
    <a href="#" class="item">
      <span>Invertir</span>
    </a>
    <a href="#" class="item">
      <span>Inscribir proyecto</span>
    </a>
  </div>
  <div class="middle">
    <img src="assets/img/logo-bloom-gray.png" alt="main logo">
  </div>
  <div class="right side">
    <a [routerLink]="[{ outlets: { auth: ['auth', 'signup'] } }]" skipLocationChange class="item">
      <span>Registrate</span>
    </a>
    <a [routerLink]="[{ outlets: { auth: ['auth', 'login'] } }]" skipLocationChange class="item">
      <span>Iniciar sesión</span>
    </a>
  </div>
</section>