<div class="wrapper-home">
  <div class="main-banner">
    <app-home-main-banner></app-home-main-banner>
  </div>
  <div class="main-actions-box">
    <app-home-main-actions-box></app-home-main-actions-box>
  </div>
  <div class="featured-products">
    <app-home-featured-products></app-home-featured-products>
  </div>
  <div class="main-projects">
    <app-home-main-projects></app-home-main-projects>
  </div>
  <div class="newsletter">
    <app-home-newsletter-banner></app-home-newsletter-banner>
  </div>
  <div class="second-banner">
    <app-home-second-banner></app-home-second-banner>
  </div>
  <div class="upcoming-releases">
    <app-home-upcoming-releases></app-home-upcoming-releases>
  </div>

  <div class="fixed-legal">
    <figure class="legal">
      <img src="/assets/img/fixed-legal-SFC.png">
    </figure>
  </div>
  <div class="fixed-social">
    <div class="icons">
      <span class="icon-facebook"></span>
      <span class="icon-instagram"></span>
      <span class="icon-twiter"></span>
      <span class="icon-youtube"></span>
    </div>
  </div>
</div>