@import 'mixins'

.wrapper-home
  position: relative
  .main-actions-box, .featured-products, .main-projects, .newsletter, .upcoming-releases
    +flex(center, center)
  .featured-products, .second-banner
    margin-bottom: 100px



  .fixed-legal, .fixed-social
    +flex(center, center)
    top: 0
    width: 70px
    height: 100%
    position: fixed
  .fixed-legal
    left: 0
    .legal
      width: 26px
      img
        width: 100%
  .fixed-social
    right: 0
    .icons
      +flex(center, center, column)
      width: 26px
      *
        font-size: 26px
        cursor: pointer
        margin-bottom: 40px
        color: var(--gray-4)