@import 'mixins'

.wrapper-home-upcoming-releases
  +flex(center, center, column)
  .main-title
    +semibold()
    font-size: 27px
    margin-bottom: 30px
    color: var(--gray-4)
    text-transform: uppercase
  .cards
    +flex()
    li
      width: 560px
      margin-right: 36px
      .item
        position: relative
        border-radius: 14px
        border: 1px solid var(--gray-4)
        .tag
          +bold()
          position: absolute
          top: 20px
          right: 20px
          font-size: 14px
          padding: 5px 10px
          border-radius: 6px
          background-color: var(--yellow-1)
        figure
          +flex(center, center)
          width: 100%
          height: 266px
          overflow: hidden
          border-radius: 14px 14px 0 0
          img
            min-width: 100%
            min-height: 100%
        .content
          +flex(center, center, column)
          padding: 40px
          .title
            +semibold()
            font-size: 27px
            margin-bottom: 10px
            color: var(--gray-4)
          .description
            +medium()
            font-size: 18px
            text-align: center
            margin-bottom: 26px
            color: var(--gray-4)
          .time-to-release
            +flex(center, space-between)
            width: 100%
            .date
              +flex(center, center, column)
              .box
                +flex()
                width: 286px
                height: 66px
                margin-bottom: 6px
                border-radius: 8px
                border: 1px solid var(--gray-4)
                .value
                  +semibold()
                  +flex(center, center)
                  flex: 1
                  font-size: 26px
                  color: var(--gray-4)
                  text-transform: uppercase
                  border-right: 1px solid var(--gray-4)
                  &:last-child
                    border: none
              .labels
                +flex(center, space-around)
                width: 286px
                .name
                  +semibold()
                  font-size: 16px
                  color: var(--gray-4)
            .button
              +semibold()
              height: 52px
              font-size: 18px
              border-radius: 25px
              color: var(--gray-4)
              &:hover
                color: var(--white-1)
                background-color: var(--blue-1)
