<div class="wrapper-home-upcoming-releases">
  <div class="main-title">Próximos lanzamientos</div>
  <ul class="cards">
    <li *ngFor="let _ of [].constructor(2)">
      <div class="item">
        <div class="tag">Decoración</div>
        <figure>
          <img src="assets/img/upcoming-releases-1.png">
        </figure>
        <div class="content">
          <span class="title">Materas de cemento</span>
          <div class="description">Sencillas y simples, pero muy estéticas. Ideales para la decoración del hogar.</div>
          <div class="time-to-release">
            <div class="date">
              <div class="box">
                <div class="value">25</div>
                <div class="value">05</div>
                <div class="value">10</div>
                <div class="value">02</div>
              </div>
              <div class="labels">
                <span class="name">Días</span>
                <span class="name">Horas</span>
                <span class="name">Min</span>
                <span class="name">Seg</span>
              </div>
            </div>
            <button class="button">Recúerdamelo</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>