$base-url: '/assets/fonts'

@font-face
  font-family: 'Monserrat-Regular'
  src: url('#{$base-url}/Montserrat-Regular.otf')

@font-face
  font-family: 'Monserrat-Medium'
  src: url('#{$base-url}/Montserrat-Medium.otf')

@font-face
  font-family: 'Monserrat-Bold'
  src: url('#{$base-url}/Montserrat-Bold.otf')

@font-face
  font-family: 'Monserrat-SemiBold'
  src: url('#{$base-url}/Montserrat-SemiBold.otf')

@font-face
  font-family: 'Monserrat-Black'
  src: url('#{$base-url}/Montserrat-Black.otf')