
.input-text
  width: 100%
  height: 48px
  text-align: center
  border-radius: 18px
  background-color: var(--white-1)
  box-shadow: 0 0 0 1px var(--gray-2)
  &:focus
    background-color: var(--white-1)
    box-shadow: 0 0 0 1px var(--blue-1)
  &.ng-invalid
    &.ng-touched
      box-shadow: 0 0 0 1px var(--red-1)
      &:focus
        box-shadow: 0 0 0 1px var(--blue-1)

.checkbox
  +flex(center)
  input
    z-index: -9999
    position: absolute
    visibility: hidden
    &:checked
      + .box
        background-color: var(--blue-1)
        &::before
          display: block
  .box
    +flex(center, center)
    width: 20px
    height: 20px
    flex: 0 0 auto
    font-size: 12px
    border-radius: 5px
    margin: 0 16px 0 0
    color: var(--white-1)
    background-color: var(--blue-3)
    &::before
      display: none
  label
    display: block
    font-size: 14px
    a
      font-size: 14px
      color: var(--blue-1)

.button
  +flex(center, center)
  height: 48px
  font-size: 14px
  padding: 0 16px
  cursor: pointer
  border-radius: 15px
  border: 1px solid var(--gray-2)
  background-color: var(--white-1)
