:root
  --regular: 'Monserrat-Regular'
  --medium: 'Monserrat-Medium'
  --bold: 'Monserrat-Bold'
  --semibold: 'Monserrat-SemiBold'
  --black: 'Monserrat-black'

  --white-1: #FFFFFF
  --black-1: #1A1B29
  --gray-1: #969696
  --gray-2: #8E8E8E
  --gray-3: #D6D6D6
  --gray-4: #606060
  --gray-5: #7A7A7A
  --blue-1: #00CCCC
  --blue-2: #03CCCB
  --blue-3: #41B7BF
  --red-1: #FF0000
  --red-2: #F76266
  --yellow-1: #FFCF5C

  --padding: 30px
  --header-height: 80px