<section class="wrapper-signup">
  <div class="progress-bar">
    <div class="fill"></div>
  </div>
  <div class="close">
    <a (click)="close()">
      <i class="iconn-close">x</i>
    </a>
  </div>
  <div class="content">
    <ng-container [ngSwitch]="currentStep$ | async">
      <ng-container *ngSwitchCase="steps.Start">
        <ng-container *ngTemplateOutlet="stepOne"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="steps.EmailVerify">
        <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="steps.IsEmailVerified">
        <ng-container *ngTemplateOutlet="stepThree"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="steps.PhoneVerify">
        <ng-container *ngTemplateOutlet="stepFour"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="steps.ValidatePhone">
        <ng-container *ngTemplateOutlet="stepFive"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="steps.DocumentVerify">
        <ng-container *ngTemplateOutlet="stepSix"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="steps.PasswordVerify">
        <ng-container *ngTemplateOutlet="stepSeven"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</section>


<ng-template #stepOne>
  <form class="step-one" [formGroup]="stepOneForm" (submit)="onSubmitStepOne()">
    <div class="title">Ayúdanos a conocerte</div>
    <div class="fieldset">
      <label for="names">Nombre completo</label>
      <input id="names" type="text" class="input-text" formControlName="names">
    </div>
    <fieldset class="emails" formGroupName="emails">
      <fieldset>
        <label for="email">Correo electronico</label>
        <input id="email" type="text" class="input-text" formControlName="email">
      </fieldset>
      <fieldset>
        <label for="confirmationEmail">Confirma correo electronico</label>
        <input id="confirmationEmail" type="text" class="input-text" formControlName="confirmationEmail">
      </fieldset>
    </fieldset>
    <button class="button" [disabled]="stepOneForm.invalid">Continuar</button>
  </form>
</ng-template>

<ng-template #stepTwo>
  <h1>step two</h1>
  <h2>Email enviado espera</h2>
</ng-template>

<ng-template #stepThree>
  <h1>step 3</h1>
</ng-template>

<ng-template #stepFour>
  <h1>step 4</h1>
  <form [formGroup]="stepFourForm" (submit)="onSubmitStepFour()">
    <fieldset>
      <label for="phone">Telefono</label>
      <input id="phone" type="text" class="input-text" formControlName="phone">
    </fieldset>
    <button class="button" [disabled]="stepFourForm.invalid">Continuar</button>
  </form>
</ng-template>

<ng-template #stepFive>
  <h1>step 5</h1>
  <form [formGroup]="stepFiveForm" (submit)="onSubmitStepFive()">
    <fieldset>
      <label for="code">Code</label>
      <input id="code" type="text" class="input-text" formControlName="code">
    </fieldset>
    <button class="button" [disabled]="stepFiveForm.invalid">Continuar</button>
  </form>
</ng-template>

<ng-template #stepSix>
  <h1>step 6</h1>
  <form [formGroup]="stepSixForm" (submit)="onSubmitStepSix()">
    <fieldset>
      <label for="documentTypes">Tipo de documento</label>
      <select id="documentTypes" formControlName="documentType">
        <option [value]="1">Cedula</option>
        <option [value]="2">Otro 1</option>
        <option [value]="2">Otro 2</option>
      </select>
    </fieldset>
    <fieldset>
      <label for="document">Documento</label>
      <input id="document" type="text" class="input-text" formControlName="document">
    </fieldset>
    <fieldset>
      <label for="expeditionDate">Fecha de expedicion</label>
      <input id="expeditionDate" type="text" class="input-text" formControlName="expeditionDate">
    </fieldset>
    <button class="button" [disabled]="stepSixForm.invalid">Continuar</button>
  </form>
</ng-template>

<ng-template #stepSeven>
  <h1>step 7</h1>
  <form [formGroup]="stepSevenForm" (submit)="onSubmitStepSeven()">
    <fieldset>
      <label for="password">Nueva contraseña</label>
      <input id="password" type="text" class="input-text" formControlName="password">
    </fieldset>
    <fieldset>
      <label for="repeatPassword">Confirmar contraseña</label>
      <input id="repeatPassword" type="text" class="input-text" formControlName="repeatPassword">
    </fieldset>
    <button class="button" [disabled]="stepSevenForm.invalid">Continuar</button>
  </form>
</ng-template>