@import 'mixins'

.wrapper-signup
  .progress-bar
    width: 100%
    height: 16px
    background-color: var(--gray-3)
    .fill
      width: 50%
      height: 100%
      background-color: var(--yellow-1)
  .close
    +flex(center, flex-end)
    padding: var(--padding)
    a
      +flex(center, center)
      cursor: pointer
      width: 20px
      height: 20px
  .content
    padding: var(--padding) var(--padding) var(--padding) 100px
    .step-one
      width: 430px
      .title
        font-size: 26px
        margin-bottom: 40px
    form
      .fieldset
        label
          margin-bottom: 10px

      .emails
        &.ng-invalid
          &.ng-touched
            input
              box-shadow: 0 0 0 1px var(--red-1)