<div class="wrapper-home-main-banner">
  <div class="content">
    <span class="text-1">En este crowdfunding</span>
    <span class="text-2">Avanzamos juntos</span>
    <span class="text-3">Somos el primer modelo equity en Colombia donde con microinversiones, todos vamos hacia delante.</span>
  </div>
</div>