@import 'mixins'

.wrapper-home-main-banner 
  +flex(center, null, column)
  width: 100%
  height: 430px
  background-size: contain
  background-position-x: 80%
  background-repeat: no-repeat
  background-color: var(--blue-3)
  background-image: url('/assets/img/main-home-banner.png')
  .content
    +flex(null, center, column)
    width: 100%
    margin-top: 30px
    max-width: 1000px
    .text-1, .text-2, .text-3
      color: var(--white-1)
    .text-1
      +medium()
      font-size: 50px
    .text-2
      +black()
      width: 560px
      font-size: 72px
      line-height: 80px
      margin-bottom: 20px
    .text-3
      +medium()
      width: 560px
      font-size: 20px