<section class="app">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    
  </div>
</section>
<router-outlet name="auth"></router-outlet>