<div class="wrapper-home-main-projects">
  <div class="head">
    <span class="active">Proyectos papulares</span>
    <span>Proyectos nuevos</span>
    <span>Proyectos en recta final</span>
  </div>
  <ul class="cards">
    <li>
      <app-home-main-project-card></app-home-main-project-card>
    </li>
    <li>
      <app-home-main-project-card></app-home-main-project-card>
    </li>
    <li>
      <app-home-main-project-card></app-home-main-project-card>
    </li>
    <li>
      <app-home-main-project-card></app-home-main-project-card>
    </li>
    <li>
      <app-home-main-project-card></app-home-main-project-card>
    </li>
  </ul>
</div>