@import 'mixins'

.wrapper-home-main-projects
  width: 1200px
  .head
    +flex(center)
    margin-bottom: 10px
    span
      +semibold()
      cursor: pointer
      font-size: 20px
      margin-right: 70px
      color: var(--gray-4)
      text-transform: uppercase
      &.active
        color: var(--blue-1)
        text-decoration: underline
  .cards
    +flex()
    padding: 20px 
    overflow: scroll
    margin-left: -20px
    li
      cursor: pointer
      margin-right: 30px