@import 'mixins'

$index-rot: 10
$index-overlay: 20
$index-content: 30

.auth-component
  position: absolute
  left: 0
  top: var(--header-height)
  width: 100%
  height: calc(100% - var(--header-height))
  .overlay
    height: 100%
    width: 100%
    opacity: .4
    z-index: $index-overlay
    background-color: var(--black-1)
  .content
    z-index: $index-content
    top: 0
    right: 0
    position: absolute
    width: 700px
    height: 100%
    background-color: var(--white-1)
