<section class="wrapper-login">
  <div class="close">
    <a [routerLink]="['../../', { outlets: { auth: null } }]" skipLocationChange>
      <i class="iconn-close">x</i>
    </a>
  </div>
  <form [formGroup]="form">
    <fieldset>
      <label for="email">Correo electronico</label>
      <input id="email" type="text" class="input-text" formControlName="email">
    </fieldset>
    <fieldset>
      <label for="password">Contraseña</label>
      <input id="password" type="text" class="input-text" formControlName="password">
    </fieldset>
    <button class="button">Iniciar sesión</button>
  </form>
</section>