<div class="wrapper-home-newsletter-banner">
  <div class="newsletter">
    <span class="title">Suscríbete</span>
    <span class="text">y recibe información de nuevos proyectos cada semana</span>
    <form [formGroup]="form">
      <input type="text" placeholder="Correo electrónico" formControlName="email">
      <button>Enviar</button>
    </form>
  </div>
</div>