@import 'mixins'

.wrapper-home-newsletter-banner
  .newsletter
    +flex(center, center, column)
    width: 1200px
    height: 250px
    .title
      +bold()
      font-size: 30px
      margin-bottom: 10px
      color: var(--black-1)
    .text
      +regular()
      font-size: 24px
      margin-bottom: 30px
      color: var(--black-1)
    form
      +flex(center)
      width: 780px
      height: 50px
      input
        +medium()
        flex: 1
        padding: 0 20px
        font-size: 22px
        height: calc(100% - 2px)
        border-radius: 12px 0 0 12px
        border: 1px solid var(--gray-4)
      button
        +regular()
        width: 120px
        height: 100%
        cursor: pointer
        font-size: 24px
        color: var(--white-1)
        border-radius: 0 12px 12px 0
        border: 1px solid var(--gray-4)
        background-color: var(--gray-4)