<div class="wrapper-home-second-banner">
  <div class="content">
    <div class="title">¡Somos una comunidad de visionarios!</div>
    <div class="text">El primer espacio donde tanto emprendedores como inversionistas unen fuerzas para avanzar juntos.</div>
    <button class="button">Invertir</button>
  </div>
</div>