@import 'mixins'

.wrapper-home-second-banner
  +flex(center, null, column)
  width: 100%
  height: 500px
  background-size: contain
  background-position-x: 80%
  background-repeat: no-repeat
  background-color: var(--yellow-1)
  background-image: url('/assets/img/second-banner-background.png')
  .content
    +flex(null, center, column)
    width: 100%
    margin-top: 50px
    max-width: 1200px
    .title
      +semibold()
      width: 560px
      font-size: 64px
      margin-bottom: 30px
      color: var(--gray-4)
    .text
      +regular()
      width: 560px
      font-size: 20px
      margin-bottom: 30px
      color: var(--gray-4)
    .button
      +medium()
      border: none
      width: 120px
      font-size: 18px
      border-radius: 24px
      color: var(--gray-4)