@import 'mixins'

.wrapper-home-featured-products
  +flex(center, null, column)
  width: 1200px
  .title
    +flex(center, space-between)
    width: 100%
    margin-bottom: 20px
    span
      +semibold()
      font-size: 20px
      color: var(--gray-4)
      text-transform: uppercase
    .line
      width: 70%
      height: 16px
      border-bottom: 2px solid var(--gray-4)
  .carousel
    width: 100%
    height: 480px
    ul
      height: 100%
      list-style: none
      li
        height: 100%
        .item
          height: 100%
          position: relative
          background-size: cover
          background-position: 50%
          background-image: url('/assets/img/featured-1.png')
          .project-info
            +flex(null, center, column)
            padding: 50px
            *
              color: var(--white-1)
            .name
              +medium()
              font-size: 30px
              margin-bottom: 6px
            .by
              +regular()
              font-size: 20px
              margin-bottom: 30px
            .description
              +medium()
              font-size: 20px
              margin-bottom: 30px
            .button
              +medium()
              width: 130px
              font-size: 20px
              padding: 0 25px
              border-radius: 25px
              background-color: transparent
              border: 1px solid var(--white-1)