<section class="wrapper-home-featured-products">
  <div class="title">
    <span>Proyectos destacados</span>
    <div class="line"></div>
  </div>
  <div class="carousel">
    <ul class="items">
      <li>
        <div class="item">
          <div class="project-info">
            <div class="name">Helados de cerveza artesanal</div>
            <div class="by">Por Chela Cream</div>
            <div class="description">Una propuesta de helados única, con sabores especiales e inigualables.</div>
            <div class="button">Ver más</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>