@import 'assets/css/variables'
@import 'assets/css/mixins'
@import 'assets/css/inputs'
@import 'assets/css/icons'
@import 'assets/css/breakpoints'
@import 'assets/css/fonts'

*
  +regular()
  margin: 0
  padding: 0
  border: none
  outline: none
  text-decoration: none

body
  ul
    list-style: none

.mobile
  +for-desktop-up()
    display: none !important
.desktop
  +for-phone-only()
    display: none !important

.ngx_notification-msg
  z-index: 999999