@import 'mixins'

.wrapper-home-main-project-card
  +flex(center, null, column)
  width: 330px
  height: 562px
  border-radius: 18px
  border: 1px solid var(--gray-3)
  &:hover
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .33)
    .content
      .title
        color: var(--blue-1)
        text-decoration: underline
  figure
    +flex(center, center)
    width: 100%
    height: 246px
    overflow: hidden
    border-radius: 18px 18px 0 0
    img
      min-width: 100%
      min-height: 100%
  .content
    +flex(null, center, column)
    flex: 1
    padding: 25px
    .title
      +semibold()
      font-size: 20px
      margin-bottom: 6px
      color: var(--black-1)
    .by
      +semibold()
      font-size: 14px
      margin-bottom: 16px
      color: var(--black-1)
    .description
      +regular()
      font-size: 16px
      color: var(--gray-5)
    .footer
      margin-top: auto
      .badges
        +flex()
        .badge
          +medium()
          font-size: 10px
          padding: 3px 12px
          margin-bottom: 10px
          border-radius: 10px
          background-color: var(--yellow-1)
      .values
        +flex(center, space-between)
        margin-bottom: 10px
        .goal
          +bold()
          font-size: 20px
          color: var(--black-1)
        .percentage
          +bold()
          font-size: 15px
          color: var(--black-1)
      .bar
        width: 100%
        height: 8px
        overflow: hidden
        margin-bottom: 10px
        border-radius: 10px
        background-color: var(--gray-3)
        .fill
          height: 100%
          border-radius: 10px
          background-color: var(--red-2)
      .remaining
        +semibold()
        font-size: 12px