<div class="wrapper-home-main-project-card">
  <figure>
    <img src="assets/img/project-card-1.png">
  </figure>
  <div class="content">
    <h3 class="title">Cestas de mimbre</h3>
    <span class="by">Por Wayuu Lovers</span>
    <div class="description">Cestas hechas completamente a mano por indígenas Wayuu.</div>
    <div class="footer">
      <div class="badges">
        <div class="badge">Artesanía</div>
      </div>
      <div class="values">
        <div class="goal">{{ 50 | currency }}</div>
        <div class="percentage">{{ 50 }}%</div>
      </div>
      <div class="bar">
        <div class="fill" [ngStyle]="{ width: '50%' }"></div>
      </div>
      <div class="remaining">Quedan 120 días</div>
    </div>
  </div>
</div>