<section class="home-main-actions-box">
  <div class="item">
    <span class="text">¿Quieres ver avanzar tu emprendimiento?</span>
    <button class="button">Inscribir proyecto</button>
  </div>
  <div class="divider"></div>
  <div class="item">
    <span class="text">¿Listo para hacer crecer tu dinero ayudando?</span>
    <button class="button">Invertir</button>
  </div>
</section>