@import 'mixins'

.home-main-actions-box
  +flex(center)
  top: -60px
  width: 1000px
  height: 200px
  position: relative
  background-color: var(--yellow-1)
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .59)
  .item
    +flex(center, center, column)
    padding: 0 50px
    .text
      +semibold()
      font-size: 20px
      text-align: center
      margin-bottom: 20px
      color: var(--gray-4)
    .button
      +semibold()
      border: none
      font-size: 14px
      padding: 0 50px
      border-radius: 25px
      color: var(--gray-4)
  .divider
    width: 2px
    height: 80%
    background: var(--gray-4)